<div class="modal fade" id="newbookmark" tabindex="-1" role="dialog" aria-labelledby="bookmarkLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookmarkLabel">New Bookmark</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "bookmarks/form", bookmark: Bookmark.new %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editlist" tabindex="-1" role="dialog" aria-labelledby="editlistLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editlistLabel"><%= @list.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "lists/form", list: @list %>
      </div>
    </div>
  </div>
</div>
